
.paramComContainer {
    display: flex;
    margin-left: 0.3em;
    
}
.paramComOption 
{
    margin-top: 0;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    div 
    {
        margin-right: 0.3em;
    }
}
.comTitle 
{
    margin-bottom: 0.5em;
    font-size: 11px;
}
.commentContainer
{
    display: flex;
    flex-direction: row!important;

    .commentContent 
    {
        display: flex;
        flex-direction: column;
        font-style: italic;
        border-radius: 10px;
        background-color: rgba(228, 230, 235, 1) ;
        max-width: 30%;
        padding: 0.6em;
        margin: 0;
    }

    .modComForm
    {
        display: flex;
        flex-direction: column;
        button {
            margin: auto;
            margin-top: 0.3em;
        }
    }

}


@media screen and (max-width : 1000px) {
    .commentContent
    {
        max-width: 80%!important;
        word-wrap: break-word;

    }

    .commentContainer
    {
        flex-direction: column!important;
        
    }
    .paramComContainer
    {
        flex-direction: column!important; 
        margin-top: 0.3em; 
    }
    .paramComOption
    {
        flex-direction: column;
        text-align: center;
        margin: 0!important;
        div
        {
            margin: 0.15em;
        }
    }
}