.formSure {

    position: absolute;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 35%;
    background-color: rgba(18, 37, 66, 1);
    border-radius: 15px;
    padding: 2em;
    text-align: center;

    button 
    {
        margin: 0.4em;
    }

    h1 
    {
        color: white;
        font-size: 17px;
    }


}

@media screen and (max-width : 1000px) {
    .formSure { 
        width: 200px;
        padding: 1em; 
    }
}