
.iconCom
{
    vertical-align: middle ;
    svg 
    {
        vertical-align: middle;
    }
}
.paramMsg
{
    width: 100%;
    margin: 0.3em;

    .paramMsgContainer
    {
        display: flex;
        justify-items: center;

        .paramMsgOption
        {
            display: flex;
            margin-left: 0.5em;

            div 
            {
                margin: 0 0.15em 0 0.15em;
            }
            
            .modMsgForm 
            {
                display: flex;
                flex-direction: column;
                button 
                {
                    margin: auto;
                }
                input 
                {
                    margin: 0 0.5em 0.5em 0.5em;
                }
            }

        }
    }
    
}


.NewcomDiv
{
    text-align: center;
    display: flex;
    flex-direction: column;
    input 
    {
        margin: 0 0.5em 0.5em 0.5em;
    }

    input::placeholder
    {
        text-align: center;
    }
}

